body{
    background-color: rgb(238, 238, 238);
}
h1, h3, h2{
    font-family: 'Poppins', sans-serif;
    color: rgb(144, 84, 144)
}
h5{
    font-family: 'Exo 2', sans-serif;
}
#title{
  margin: auto;
  width: fit-content;
  margin-top: 50px;
}
#flexContainer{
    display: flex;
    flex-direction: row;
    
    background-color: rgb(238, 238, 238);
    width: 70vw;
    margin: auto;
}

.interactive{
	background-color: rgb(212, 212, 212);
	width:70vw;
	height:200px;
	border-radius:5px;
	display:grid;
	grid-template-columns: 4fr 1fr;
}

.opBox{
	background-color:grey;
	margin:10px;
	padding:10px;
	padding-top:30px;
	padding-left:40px;
}
form{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-row-gap: 25px;
	align-items: center;
}
.response{
	background-color:grey;
	margin:10px;
	text-align:center;
}
.life{
	font-size:40px;
}
#left{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-right: 6px;
    justify-content: space-around;
    gap: 10px;
}
#graph{
    flex-grow: 2;
    margin-left: 6px;
    background-color: bisque;
}
#graph, .parameter{
    border-radius: 20px;
    padding: 20px;
    background-color: #FFFF;
    color: gray
}
.parameter{
    min-height: 15vh;
}