body{
    background-color: rgb(238, 238, 238);
}
h1, h3, h2{
    font-family: 'Poppins', sans-serif;
    color: rgb(144, 84, 144)
}
h5{
    font-family: 'Exo 2', sans-serif;
}
#title{
  margin: auto;
  width: fit-content;
  margin-top: 50px;
}
#flexContainer{
    display: flex;
    flex-direction: row;
    
    background-color: rgb(238, 238, 238);
    width: 70vw;
    margin: auto;
}

.interactive{
	background-color: #FFFF;
	width:70vw;
	height:325px;
	border-radius:5px;
	margin:auto;
	margin-top:50px;
	border-radius: 20px;
	padding:5px;
}

.int-main{
	display:grid;
	grid-template-columns: 4fr 1fr;
	margin-bottom:50px;
}

.int-text{
		text-align:center;
/*		margin-top:10px;*/
}

.int-text p{
	margin-bottom:0px;
}

.int-text h3{
	margin-top:20px;
}

.opBox{
	background-color:lightgrey;
	border-radius:20px;
	margin:20px;
	padding:20px;
	padding-top:30px;
	padding-left:40px;
}
.opBox .but{
	margin:auto;
	width:100px;
}
.opBox button{
	background-color:lightsteelblue;
	border-radius:3px;
}
form{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-row-gap: 25px;
	align-items: center;
}
.response{
	background-color:lightgrey;
	border-radius:20px;
	margin:20px ;
	text-align:center;
}
.life{
	font-size:40px;
}
#left{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-right: 6px;
    justify-content: space-around;
    gap: 10px;
}
#graph{
    flex-grow: 2;
    margin-left: 6px;
    background-color: bisque;
}
#graph, .parameter{
    border-radius: 20px;
    padding: 20px;
    background-color: #FFFF;
    color: gray
}
.parameter{
    min-height: 15vh;
}